<div class="black-screen" id="blackScreen">
  <div class="intro-text">Here are some of my projects</div>
</div>

<div class="container">
  <div class="image-container">
    <div class="bookfinder">
      <img src="assets/bookfinder1.png" alt="Image">
    </div>
  </div>
</div>

<div class="container-p">
  <div class="text-container">
    <p>"BookFinder is a dynamic web application built using Angular and integrated with the Google Books API. It serves as a user-friendly platform for book enthusiasts to search and discover a vast array of books available in the Google Books database. Users can easily search for books by title, author, or keywords, and receive comprehensive information including book summaries, author details, publication dates, and more. With its intuitive interface and seamless integration with Google Books API, BookFinder provides a convenient and efficient way for users to explore, discover, and delve into the world of literature."
     <br> <a href="https://github.com/DielliXD/BookFinder-Dielli-Baldedaj">BookFinder</a>
    </p>
  </div>
</div>

<div class="animationfirst-container">
  <div class="animation-firstitem">
    <img src="assets/cypress.png" alt="Your Image">
  </div>
</div>

<div class="container-p">
  <div class="text-containeri">
    <p>In Cypress unit tests for ParaBank, we validate the login process. One test confirms successful login with valid credentials, redirecting to the account overview. Another verifies error display upon entering invalid credentials. These tests ensure the login functionality's reliability."
     <br> <a href="https://github.com/DielliXD/E2E-Automation-with-Cypress">Cypress</a>
    </p>
  </div>
</div>

<div class="secondanimation-container">
  <div class="animation-seconditem">
    <img src="assets/portfolio.png" alt="Your Image">
    <p class="weathertxt">"Crafted with Angular and powered by GSAP, my portfolio is more than just a collection of projects — it's an immersive digital experience. Explore my work through seamless transitions and captivating animations. Let's connect and bring your ideas to life with the power of technology and creativity."
      <a href="https://github.com/DielliXD/GSAP-DielliBaldedaj">Portfolio</a>
    </p>
  </div>
</div>

<div class="thirdanimation-container">
  <div class="animation-thirditem">
    <img src="assets/unit testing.png" alt="Your Image" class="lotte">
    <p class="lottep">"Unit testing with Angular! Explore how I ensure the reliability and functionality of my applications through meticulous testing methodologies. From component testing to end-to-end scenarios, I leverage Angular's testing capabilities to deliver robust and error-free software. Let's build with confidence, one test at a time."
    <br>  <a href="https://github.com/DielliXD/Unit-Testing">Unit-Testing</a>
    </p>
  </div>
</div>
