@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    font-family: "Playfair Display";
}

.container {
    display: flex;
    justify-content: center;
}

.video-container video {
    border-radius: 10px;
    width: 600px;   
}

.container-p {
    display: flex;
    text-align: center;
    padding: 0 30px;
}
.animationfirst-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    margin-top: 50px;
    padding-top: 30px;
  }
  
  .animation-firstitem {
    width: calc(80% - 20px); 
    margin: 10px; 
  }
  .container, .animationfirst-container, 
  .secondanimation-container, .thirdanimation-container, 
  .forthanimation-container, .animation-container {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); 
    margin-bottom: 6px; 
    padding: 40px 20px;
}

  .animation-firstitem img {
    max-width: 100%; 
    border-radius: 15px;
  }

  .animation-seconditem  {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
  }

.animation-seconditem img {
    max-width: 100%;
    width: calc(70% - 20px); 
    padding: 30px  15px;
}

.text-containeri {
    padding: 30px 30px;
}

.thirdanimation-container {
    display: flex;
    justify-content: center;
}

.animation-thirditem, .lotte {
    max-width: 100%;
    width: calc(90% - 20px); 
    padding: 30px  15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.lotte {
    border: 1px solid rgb(218, 188, 188);
    border-style: dotted;
}

.lottep {
    text-align: center;
}

@media screen and (max-width: 768px) {
    
    .video-container video {
        width: 380px; 
    }
}

@media screen and (max-width: 1050px) {

    .animation-seconditem {
        display: flex;
        flex-wrap: wrap;
    }

    .weathertxt {
        display: flex;
        text-align: center;
    }
}

@media screen and (max-width: 415px) {
    .video-container video {
        width: 300px; 
    }

    .animation-seconditem img {
        max-width: 100%;
        width: calc(90% - 20px); 
        padding: 30px  15px;
    }
}
 
