<div class="container">
  <div class="video-container">
    <video controls>
      <source src="/assets/video.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
</div>

<div class="container-p">
  <div class="text-container">
    <p>"Welcome to my ambitious project! Leveraging the power of React, Tailwind CSS, and Canvas 3D, I've crafted a dynamic and immersive experience. From interactive user interfaces to stunning visualizations, this project seamlessly blends cutting-edge technologies to deliver a next-level web application. Dive into a world where creativity meets functionality, offering a glimpse into the future of web development."</p>
  </div>
</div>

<div class="animationfirst-container">
  <div class="animation-firstitem">
    <img src="assets/restorant.png" alt="Your Image">

  </div>
</div>

<div class="container-p">
  <div class="text-containeri">
    <p>Welcome to my restaurant management project, a culinary journey infused with Angular, TypeScript, Laravel, and MongoDB. Designed to elevate restaurant operations, this innovative venture seamlessly integrates technology with gastronomy. From streamlined order processing to intuitive menu presentation, every element is tailored to enhance the dining experience. Embark on a digital odyssey where the art of cuisine meets cutting-edge development, shaping the future of restaurant management.</p>
  </div>
</div>


<div class="secondanimation-container">
  <div class="animation-seconditem">
    <img src="assets/weather.png" alt="Your Image">
    <p class="weathertxt">Step into the world of meteorology with my latest creation – a weather app crafted using jQuery, Tailwind CSS, and React. This dynamic application seamlessly integrates with weather APIs, providing real-time forecasts and updates. With an intuitive user interface and sleek design, users can effortlessly stay informed about current and upcoming weather conditions. Experience the convergence of technology and nature, offering a glimpse into the power of modern web development in keeping us connected to the elements.</p>
  </div>
</div>

<div class="thirdanimation-container">
  <div class="animation-thirditem">
    <img src="assets/lotte.png" alt="Your Image" class="lotte">
    <p class="lottep">"Embark on a journey of linguistic exploration with my latest project, harmonizing the power of Python and Swift. This innovative endeavor showcases the versatility of programming languages in tandem, offering a unique blend of backend functionality and iOS app development. From data analysis and automation with Python to sleek mobile experiences crafted in Swift, this project exemplifies the synergy between diverse coding languages. Delve into a realm where boundaries blur, and creativity knows no limits, shaping the future of multi-language development."</p>
  </div>
</div>



