<div class="about-us-container">
    <header class="about-header">
        <h1>About me</h1>
        <p>Hi, I'm Dielli Baldedaj, a 21-year-old programmer who's on the verge of completing my studies
             at Ukshin Hoti University. My journey in programming science has been fueled by my deep passion
              for technology and innovation. Living in the beautiful city of Prizren,
             Kosovo, I've had the privilege of honing my skills in coding and software development
            As I approach the end of my academic journey, I'm eager to bring my knowledge and fresh
             perspectives into the professional world. My experiences have taught me how to tackle
              complex problems and find creative solutions. I'm constantly driven by a desire to learn and grow,
               keeping up with the latest trends in the tech industry.
            I believe my dedication and passion for technology make me a strong fit for your company
            . My ambition is to contribute to cutting-edge projects, bring innovative ideas to the table, 
            and collaborate with talented teams. I'm ready to take on new challenges and deliver high-quality 
            work that aligns with your company's goals.
            In summary, I'm a motivated programmer ready to make a meaningful impact in the world of
             technology. I look forward to the opportunity to work with you and bring my skills and 
             enthusiasm to your projects.</p>
    </header>
    
    <section class="about-section">
        <h2>My Experiences</h2>
        <p>I have invested a significant amount of time in various training programs to
             enhance my programming skills and knowledge. These include Makerspace,
              where I focused on front-end development, and Perprogrammera, which provided 
              me with full-stack development expertise. I also completed the Cactus Azure section,
               gaining valuable insights into cloud computing and Azure technologies. Additionally, 
               my training in hacking and cybersecurity has equipped me with a strong understanding of 
               digital security and the importance of protecting systems and data. Through these diverse
                learning experiences,I've honed my abilities and continuously strive to stay updated 
                with the latest advancements in the tech industry.</p>
    </section>
    <section class="skills-section">
        <h2>Skills</h2>
        <div class="skills-container">
            <div class="skill">
                <img src="assets/bootstrap.png" alt="Language 1">
            </div>
            <div class="skill">
                <img src="assets/css.png" alt="Language 2">
            </div>
            <div class="skill">
                <img src="assets/angular.webp" alt="Language 3">
            </div>
            <div class="skill">
                <img src="assets/database-storage.png" alt="Language 4">
            </div>
            <div class="skill">
                <img src="assets/html.png" alt="Language 5">
            </div>
            <div class="skill">
                <img src="assets/java.png" alt="Language 6">
            </div>
            <div class="skill">
                <img src="assets/js.png" alt="Language 7">
            </div>
            <div class="skill">
                <img src="assets/php.png" alt="Language 8">
            </div>
            <div class="skill">
                <img src="assets/python.png" alt="Language 9">
            </div>
            <div class="skill">
                <img src="assets/react.png" alt="Language 10">
            </div>
        </div>
    </section>
    <section class="history-section">
        <h2>My Goal</h2>
        <p>I am eager to join your team and demonstrate my commitment
             to excellence as an intern. I am a hardworking and dedicated individual, 
             passionate about contributing to your projects and helping the company achieve its goals.</p>
    </section>
    
