@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    font-family: "Poppins" , sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin: 6% 7%;
}

.content {
  display: flex;
  align-items: center; 
}

.photo img {
  max-width: 200px;
  height: auto;
  border-radius: 20%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.text {
  margin-left: 50px;
  text-align: center;
}

.text h2 {
  font-size: 24px;
  color: #333;
}

.text p {
  font-size: 16px;
  color: #666;
}

.card-container {
  display: flex;
  justify-content: center; 
  margin-top: 10px;
  gap: 20px; 
  max-width: 100%;
  flex-wrap: wrap;
}

.card {
  width: 250px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  cursor: pointer;
}


.card h2 {
  margin-bottom: 10px;
  font-size: 18px;
}

.card p {
  font-size: 14px;
}

@media screen and (max-width: 768px) {
    .photo img {
    max-width: 150px;
  }
  
  .text {
    padding-left: 10px;
  }
  
  .card {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 480px) {
  .texti {
    padding-left: 10px;
  }
  
  .card {
    width: calc(100% - 20px);
  }
}
