@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    font-family: "Poppins" , sans-serif;
}
header {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  background-color: rgb(252, 252, 251);
}

.logo {
  margin-left: 40px;
  font-weight: bold;
  font-size: 20px;
  color: #333; 
}


nav {
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 10px 15px;
  border-radius: 5px;
}

nav ul li a:hover {
  background-color: #d2e2e2;
}

.active {
  background-color: #edecec;
}

@media screen and (max-width: 650px) {
header, ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

.logo {
  width: 100%;
  text-align: center;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
}
}

@media screen and (max-width: 410px) {
  nav ul {
      flex-wrap: wrap;
      justify-content: center;
      margin-left: 15%;
  }

  nav ul li {
      margin-right: 0; 
      margin-bottom: 25px; 
      width: 50%; 

  }
}



